In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
!pip install openpyxl
import math

Requirement already satisfied: openpyxl in c:\users\thinkbook\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\thinkbook\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [7]:
df = pd.read_csv('bikes_data.csv')

In [8]:
# melihat data 5 paling atas
df.head()

,Company,Country of Origin,Model,Number of cc,Horsepower,Torque,Transmission Type,Drivetrain,Number of Seating,Price (in INR),Year,Looks,Body Type,Engine Type,Number of Cylinders
0,Aprilia,Italy,RS 660,659,100 hp,67 Nm,6-speed quickshifter,Chain,2,"INR 10,99,000",2021,Sport,Naked,Parallel-twin,2
1,Aprilia,Italy,Tuono 660,659,100 hp,67 Nm,6-speed quickshifter,Chain,2,"INR 11,99,000",2021,Sport,Naked,Parallel-twin,2
2,Aprilia,Italy,RS 125,124.9,15 hp,12 Nm,6-speed manual,Chain,2,"INR 4,49,000",2022,Sport,Racing,Single-cylinder,1
3,Aprilia,Italy,Shiver 900,896,95 hp,90 Nm,6-speed manual,Shaft,2,"INR 13,99,000",2022,Adventure,Naked,V-twin,2
4,Aprilia,Italy,Tuono 1100,1077,175 hp,121 Nm,6-speed manual,Shaft,2,"INR 19,99,000",2022,Adventure,Naked,V-twin,2

In [9]:
# melihat jumlah kolom dan baris
df.shape

(362, 15)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              362 non-null    object
 1   Country of Origin    362 non-null    object
 2   Model                362 non-null    object
 3   Number of cc         362 non-null    object
 4   Horsepower           362 non-null    object
 5   Torque               362 non-null    object
 6   Transmission Type    362 non-null    object
 7   Drivetrain           362 non-null    object
 8   Number of Seating    362 non-null    int64
 9   Price (in INR)       362 non-null    object
 10  Year                 362 non-null    int64
 11  Looks                362 non-null    object
 12  Body Type            362 non-null    object
 13  Engine Type          362 non-null    object
 14  Number of Cylinders  361 non-null    object
dtypes: int64(2), object(13)
memory usage: 42.5+ KB

In [10]:
# melihat data 5 paling bawah
df.tail()

,Company,Country of Origin,Model,Number of cc,Horsepower,Torque,Transmission Type,Drivetrain,Number of Seating,Price (in INR),Year,Looks,Body Type,Engine Type,Number of Cylinders
357,Energica Motor Company,Italy,EsseEsse9,110 kW,163 hp,195 lb-ft,Automatic,Electric,2,INR 25 lakhs,2019,Retro,Cruiser,Electric,1
358,Energica Motor Company,Italy,EGO+,126 kW,171 hp,222 lb-ft,Automatic,Electric,1,INR 23.75 lakhs,2022,Futuristic,Naked,Electric,1
359,Energica Motor Company,Italy,Eva Ribelle RS,126 kW,171 hp,222 lb-ft,Automatic,Electric,2,INR 25.25 lakhs,2022,Modern,Roadster,Electric,1
360,Moto Morini,Italy,X-Cape,649,60.8 PS,62 Nm,6-speed manual,Parallel twin,2,"7,20,000",2023,Modern,Adventure touring,"Liquid-cooled, DOHC",2
361,Moto Morini,Italy,Seiemmezzo 6 ½,649,55.7 PS,58 Nm,6-speed manual,Parallel twin,2,"6,89,000",2023,Retro,Naked,"Liquid-cooled, DOHC",2

## EDA